<div class="main_heading_wrp">
  <div class="row p-2 heading_section">
    <div class="col-6 heading left_wrp">
      <h1>Helpdesk</h1>
      <p class="heading_desc">
        Use helpdesk to save time and provide consistent customer service.
        Canned responses, pre-defined answers, and templates are crucial
        features of any support ticketing software. They increase agent
        efficiency, reduce training time, and improve service quality and
        customer satisfaction.
      </p>
    </div>
    <div class="col-6 right_wrp">
      <div class="img_wrp">
        <img src="../assets/businessman_609134.png" alt="" />
      </div>
    </div>
  </div>
</div>
<router-outlet><router-outlet /> </router-outlet>
