/* You can add global styles to this file, and also import other style files */
// @import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  font-family: Roboto, "Helvetica Neue", sans-serif,  !important;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
}
::ng-deep .mdc-text-field--outlined .mat-mdc-form-field-infix {
  padding-top: 4px;
  padding-bottom: 4px;
  border-top: 0;
}




